body {
    /* background: yellow; */
}

header, footer, section, nav{
    border: 1px solid red;
}

img {
    max-width: 100%;
}

.header-main {
    /* min-height: 64px;
    max-height: 180px;
    height: 20vh; */
    display: flex;
    background-color: bisque;
    height: clamp(64px, 20vh, 180px);
    padding: 4vh 0;
}

.logo-main {
    height: 100%;
    width: auto;
}